<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">

  <title> django</title>
</head>
<body>
<div class="container-fluid bg-dark">
    {% include 'navbar.html' %}
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% for message in messages  %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message : </strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      {% endfor %}
        </div>
    </div>
    <div class="row">
        {% block side %}
        {% endblock side %}

        {% block content %}
        {% endblock content %}
    </div>
</div>

<script src = "{% static 'jquery.js' %}"></script>
<script src = "{% static 'popper.js' %}"></script>
<script src = "{% static 'bootstrap.js' %}"></script>
</body>
</html>

