{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-3">
    <h3 class="text-white my-2">Sign up</h3>
    <hr>

    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for fm in form %}
        <div class="form-group">
            {{ fm.label_tag}} {{fm}} <small class="text-warning">{{fm.errors|striptags}}</small>
            </div>
        {% endfor %}
        <h1></h1>
        <input type="submit" value="Submit" class="btn btn-primary">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <P class="alert alert-danger my-2">{{error}}</P>
            {% endfor %}
        {% endif %}
    </form>
    </hr>
</div>
{% endblock content %}
